/*
 * Section
 */

section.timeline {
  margin-top: 2rem;
}

section.timeline a,
section.timeline .company,
section.timeline .establishment {
  text-decoration: none;
  color: var(--color-link);
}

/*
 * Two columns
 */

section.timeline .row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.timeline .row > .column {
  flex: 110%;
}

@media screen and (min-width: 769px) {
  section.timeline .row {
    flex-direction: row;
    gap: 50px;
  }

  section.timeline .row > .column {
    flex: 50%;
  }
}

@media screen and (min-width: 1025px) {
  section.timeline .row {
    gap: 110px;
  }
}

/*
 * Timeline item
 */

section.timeline .timeline-item {
  position: relative;
  padding-left: 24px;
  padding-bottom: 20px;
}

section.timeline .timeline-item::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-secondary);
  background: var(--color-background-primary);
  position: absolute;
  top: 4px;
  left: 0px;
  z-index: 3;
}

section.timeline .timeline-item.marked::before {
  background: var(--color-secondary);
}

section.timeline .timeline-item::after {
  width: 2px;
  height: 100%;
  content: "";
  background: var(--color-secondary);
  position: absolute;
  top: 0px;
  left: 7px;
  z-index: 2;
}

section.timeline .timeline-item:first-of-type:after {
  height: calc(100% - 4px);
  top: 4px;
}

section.timeline .timeline-item:last-of-type:after {
  height: 4px;
}

 section.timeline .timeline-item .period {
  color: rgb(110, 110, 110);
}

/*
 * Omniskills continer
 */

.omniskills-container {
  display: none;
}

@media screen and (min-width: 769px) {
  .omniskills-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
}

/*
 * Trainings
 */

@media screen and (min-width: 769px) {
  .trainings {
    padding: 20px;
    background-color: var(--color-background-secondary);
    border-radius: 8px;
  }
}
