.main-header::after {
  display: block;
  width: 100%;
  height: .25px;
  content: "";
  background: linear-gradient(to right, transparent, var(--color-primary), transparent);
}

.main-header .name {
  text-align: center;
}

.main-header .name a {
  display: inline-block;
  margin-top: 5px;
  padding: 5px 10px;
  text-decoration: none;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--color-primary);
  transition: color .3s ease-in-out 0s;
}

@media screen and (min-width: 769px) {
  .main-header .name a {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.main-header .name a:hover {
  color: var(--color-secondary);
}
